<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_UPDATES_NOTIFIER_UNIT_TESTS" value="1" />
	</php>
	<testsuites>
		<testsuite name="Feature Tests">
			<directory prefix="test-" suffix=".php">./tests/feature/</directory>
		</testsuite>
		<testsuite name="Unit Tests">
			<directory prefix="test-" suffix=".php">./tests/unit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
